<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
        <dict>
            <key>gradeSpan</key>
            <integer>10</integer>
            <key>backgrounds</key>
            <dict>
                <key>customer</key>
                <string>background_level_1_customer</string>
                <key>main</key>
                <string>background</string>
            </dict>
            <key>ingredients</key>
            <array>
                <string>greek_yogurt</string>
                <string>light_mayonaise</string>
                <string>green_pepper</string>
                <string>dinner_rolls</string>
                <string>french_roll</string>
                <string>fish</string>
                <string>deli_turkey</string>
                <string>cream_cheese</string>
                <string>cheese_slices</string>
                <string>chocolate</string>
                <string>chicken_soup</string>
                <string>canned_corn</string>
                <string>cake_mix</string>
                <string>bananas</string>
                <string>avacado</string>
                <string>hero</string>
                <string>coin</string>
            </array>
            <key>required_ingredients</key>
            <array>
                <string>store</string>
                <string>mayonaise</string>
                <string>ground_beef</string>
                <string>eggs</string>
                <string>burger_bun</string>
            </array>
            <key>item_ratio</key>
            <integer>1</integer>
            <key>level_time</key>
            <integer>40</integer>
        </dict>
        <dict>
            <key>gradeSpan</key>
            <integer>10</integer>
            <key>backgrounds</key>
            <dict>
                <key>customer</key>
                <string>background_level_1_customer</string>
                <key>main</key>
                <string>background_2</string>
            </dict>
            <key>ingredients</key>
            <array>
                <string>greek_yogurt</string>
                <string>light_mayonaise</string>
                <string>green_pepper</string>
                <string>dinner_rolls</string>
                <string>french_roll</string>
                <string>fish</string>
                <string>deli_turkey</string>
                <string>cream_cheese</string>
                <string>cheese_slices</string>
                <string>chocolate</string>
                <string>chicken_soup</string>
                <string>canned_corn</string>
                <string>cake_mix</string>
                <string>bananas</string>
                <string>avacado</string>
                <string>hero</string>
                <string>coin</string>
            </array>
            <key>required_ingredients</key>
            <array>
                <string>store</string>
                <string>mayonaise</string>
                <string>ground_beef</string>
                <string>eggs</string>
                <string>burger_bun</string>
            </array>
            <key>item_ratio</key>
            <integer>1</integer>
            <key>level_time</key>
            <integer>40</integer>
        </dict>
    </array>
</array>
</plist>
