<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hero</key>
	<dict>
		<key>rankWeight</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>showInStore</key>
		<false/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>10</integer>
				<key>prefix</key>
				<string>run</string>
			</dict>
			<dict>
				<key>numberOfFrames</key>
				<integer>6</integer>
				<key>prefix</key>
				<string>jump</string>
			</dict>
			<dict>
				<key>prefix</key>
				<string>stand</string>
				<key>numberOfFrames</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>prefix</key>
				<string>servefood</string>
				<key>numberOfFrames</key>
				<integer>7</integer>
			</dict>
		</array>
		<key>value</key>
		<integer>10</integer>
		<key>type</key>
		<string>hero</string>
		<key>atlas</key>
		<string>HeroImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>5</integer>
		<key>collisionWidthiPad</key>
		<integer>70</integer>
		<key>collisionHeightiPad</key>
		<integer>100</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>3</integer>
		<key>collisionWidthiPhone</key>
		<integer>35</integer>
		<key>collisionHeightiPhone</key>
		<integer>50</integer>
	</dict>
	<key>coin</key>
	<dict>
		<key>rankWeight</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>showInStore</key>
		<false/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>8</integer>
				<key>prefix</key>
				<string>coin</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>money</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>40</integer>
		<key>collisionHeightiPad</key>
		<integer>40</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>20</integer>
		<key>collisionHeightiPhone</key>
		<integer>20</integer>
	</dict>
	<key>store</key>
	<dict>
		<key>rankWeight</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>showInStore</key>
		<false/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>store</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>store</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>avacado</key>
	<dict>
		<key>rankWeight</key>
		<integer>30</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>avacado</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>bag_mixed_fruit</key>
	<dict>
		<key>rankWeight</key>
		<integer>30</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>bag_mixed_fruit</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>bag_mixed_vegetables</key>
	<dict>
		<key>rankWeight</key>
		<integer>30</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>bag_mixed_vegetables</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>bananas</key>
	<dict>
		<key>rankWeight</key>
		<integer>10</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>bananas</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>burger_bun</key>
	<dict>
		<key>rankWeight</key>
		<integer>60</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>burger_bun</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>cake_mix</key>
	<dict>
		<key>rankWeight</key>
		<integer>90</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>cake_mix</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>canned_corn</key>
	<dict>
		<key>rankWeight</key>
		<integer>30</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>canned_corn</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>cheddar_cheese</key>
	<dict>
		<key>rankWeight</key>
		<integer>40</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>cheddar_cheese</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>cheese_slices</key>
	<dict>
		<key>rankWeight</key>
		<integer>40</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>cheese_slices</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>chicken_soup</key>
	<dict>
		<key>rankWeight</key>
		<integer>70</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>chicken_soup</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>chocolate</key>
	<dict>
		<key>rankWeight</key>
		<integer>80</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>chocolate</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>cream_cheese</key>
	<dict>
		<key>rankWeight</key>
		<integer>30</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>cream_cheese</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>crushed_tomatoes</key>
	<dict>
		<key>rankWeight</key>
		<integer>40</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>crushed_tomatoes</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>deli_turkey</key>
	<dict>
		<key>rankWeight</key>
		<integer>50</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>deli_turkey</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>dinner_rolls</key>
	<dict>
		<key>rankWeight</key>
		<integer>40</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>dinner_rolls</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>eggs</key>
	<dict>
		<key>rankWeight</key>
		<integer>40</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>eggs</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>fish</key>
	<dict>
		<key>rankWeight</key>
		<integer>90</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>fish</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>flour</key>
	<dict>
		<key>rankWeight</key>
		<integer>40</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>flour</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>french_roll</key>
	<dict>
		<key>rankWeight</key>
		<integer>30</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>french_roll</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>greek_yogurt</key>
	<dict>
		<key>rankWeight</key>
		<integer>20</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>greek_yogurt</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>green_beans</key>
	<dict>
		<key>rankWeight</key>
		<integer>20</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>green_beans</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>green_pepper</key>
	<dict>
		<key>rankWeight</key>
		<integer>40</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>green_pepper</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>ground_beef</key>
	<dict>
		<key>rankWeight</key>
		<integer>70</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>ground_beef</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>ham</key>
	<dict>
		<key>rankWeight</key>
		<integer>30</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>ham</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>hotdog_bun</key>
	<dict>
		<key>rankWeight</key>
		<integer>50</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>hotdog_bun</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>light_mayonaise</key>
	<dict>
		<key>rankWeight</key>
		<integer>20</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>light_mayonaise</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>mayonaise</key>
	<dict>
		<key>rankWeight</key>
		<integer>20</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>mayonaise</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>milk</key>
	<dict>
		<key>rankWeight</key>
		<integer>30</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>milk</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>mustard</key>
	<dict>
		<key>rankWeight</key>
		<integer>10</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>mustard</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>onions</key>
	<dict>
		<key>rankWeight</key>
		<integer>20</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>onions</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>pancake_mix</key>
	<dict>
		<key>rankWeight</key>
		<integer>80</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>pancake_mix</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>pasta</key>
	<dict>
		<key>rankWeight</key>
		<integer>80</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>pasta</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>pork_chop</key>
	<dict>
		<key>rankWeight</key>
		<integer>70</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>pork_chop</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>rice</key>
	<dict>
		<key>rankWeight</key>
		<integer>60</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>rice</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>romaine_lettuce</key>
	<dict>
		<key>rankWeight</key>
		<integer>10</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>romaine_lettuce</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>salami</key>
	<dict>
		<key>rankWeight</key>
		<integer>40</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>salami</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>salsa</key>
	<dict>
		<key>rankWeight</key>
		<integer>10</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>salsa</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>salt</key>
	<dict>
		<key>rankWeight</key>
		<integer>20</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>salt</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>shrimp</key>
	<dict>
		<key>rankWeight</key>
		<integer>70</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>shrimp</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>steak</key>
	<dict>
		<key>rankWeight</key>
		<integer>80</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>steak</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>strawberry_jam</key>
	<dict>
		<key>rankWeight</key>
		<integer>50</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>strawberry_jam</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>tomato_soup</key>
	<dict>
		<key>rankWeight</key>
		<integer>40</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>tomato_soup</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>tomatoes</key>
	<dict>
		<key>rankWeight</key>
		<integer>30</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>tomatoes</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>turkey</key>
	<dict>
		<key>rankWeight</key>
		<integer>40</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>turkey</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
	<key>white_bread</key>
	<dict>
		<key>rankWeight</key>
		<integer>60</integer>
		<key>price</key>
		<integer>100</integer>
		<key>showInStore</key>
		<true/>
		<key>animations</key>
		<array>
			<dict>
				<key>numberOfFrames</key>
				<integer>1</integer>
				<key>prefix</key>
				<string>white_bread</string>
			</dict>
		</array>
		<key>value</key>
		<integer>1</integer>
		<key>type</key>
		<string>item</string>
		<key>atlas</key>
		<string>ItemImages</string>
		<key>collisionXiPad</key>
		<integer>0</integer>
		<key>collisionYiPad</key>
		<integer>0</integer>
		<key>collisionWidthiPad</key>
		<integer>60</integer>
		<key>collisionHeightiPad</key>
		<integer>60</integer>
		<key>collisionXiPhone</key>
		<integer>0</integer>
		<key>collisionYiPhone</key>
		<integer>0</integer>
		<key>collisionWidthiPhone</key>
		<integer>30</integer>
		<key>collisionHeightiPhone</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>
